

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/users/login.css">
    <title>Login</title>
</head>
<body>
    {% if form.errors %}
    <p>There's is something wrong</p>
    {% endif %}
    {% if next %}
    <p>You can't access page</p>
    {% endif %}
    <h1>Log in to Create Professional Resume</h1>
    <form method="POST" action="{% url 'login' %}" class="login">
        {% csrf_token %}
       <p>Username</p>
       {{form.username}}
       <p>Password</p>
        {{form.password}}
        <button type="submit">Login </button>
       
        <input type="hidden" name="next" value="{{next}}">
      </form>

</body>
</html>


  
