<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/final.css">
    <title>Document</title>
</head>
<body>
    


<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<div class="resume-wrapper">
	<section class="profile section-padding">
		<div class="container">
			<div class="picture-resume-wrapper">
        <div class="picture-resume">
        <span><img src="/static/media/{{resume.your_image}}" alt="" /></span>
        
  
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -9" result="cm" />
    </filter>
  </defs>
  
  
<g filter="url(#goo)" >  
  
  <circle id="main_circle" class="st0" cx="171.5" cy="175.6" r="130"/>
  
  <circle id="circle" class="bubble0 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble1 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble2 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble3 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble4 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble5 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble6 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble7 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble8 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble9 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble10 st1" cx="171.5" cy="175.6" r="122.7"/>

</g>  
</svg>
      </div>
         <div class="clearfix"></div>
 </div>
      <div class="name-wrapper">
        <h1>{{resume.first_name}} <br/>{{resume.last_name}}</h1><!-- YOUR NAME AND LAST NAME  -->
      </div>
      <div class="clearfix"></div>
      <div class="contact-info clearfix">
      	<ul class="list-titles">
      		<li>Call</li>
      		<li>Mail</li>
      		<li>Web</li>
      		<li>Home</li>
      	</ul>
        <ul class="list-content ">
        	<li>{{resume.mobile}}</li> <!-- YOUR PHONE NUMBER  -->
        	<li>{{resume.mail}}</li> <!-- YOUR EMAIL -->
        	<li><a href="#">janderson.com</a></li> <!-- YOUR WEBSITE  -->
        	<li>{{resume.permanent_address}}</li> <!-- YOUR STATE AND COUNTRY  -->
        </ul>
      </div>
      <div class="contact-presentation"> <!-- YOUR PRESENTATION RESUME  -->
      	<p><span class="bold">Intro</span> {{resume.your_intro}} </p>
      </div>
      <div class="contact-social clearfix">
      	<ul class="list-titles">
      		<li>Linkedin</li>
      		<li>Github</li>
      		<li>Facebook</li>
      	</ul>
        <ul class="list-content"> <!-- REMEMBER TO PUT THE URL ON THE HREF TAG  -->
      		<li><a href="{{resume.linkedin}}">{{resume.linkedin}}</a></li> <!-- YOUR TWITTER USER  -->
      		<li><a href="{{resume.github}}">{{resume.github}}</a></li> <!-- YOUR DRIBBBLE USER  -->
      		<li><a href="{{resume.facebook}}">{{resume.facebook}}</a></li> <!-- YOUR BEHANCE USER  -->
      	</ul>
      </div>
		</div>
	</section>
  
  <section class="experience section-padding">
  	<div class="container">
  		<h3 class="experience-title">Experience</h3>
      
      <div class="experience-wrapper">
      	<div class="company-wrapper clearfix">
      		<div class="experience-title">{{resume.present_company}}</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">{{present}}</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div>
        
        <div class="job-wrapper clearfix">
            {% if resume.present_role == 'FR' %}
            <div class="experience-title">Full Stack Developer</div>
            {% endif %}
            {% if resume.present_role == 'SO' %}
            <div class="experience-title">Android Developer</div>
               {% endif %}
            {% if resume.present_role == 'JR' %}
            <div class="experience-title">IOS Developer</div>
            {% endif %}
            {% if resume.present_role == 'SR' %}
            <div class="experience-title">Frontend Developer</div>
            {% endif %}
            {% if resume.present_role == 'GR' %}
               <div class="experience-title">Data Scientist</div>
            {% endif %}
            {% if resume.present_role == 'SW' %}
            <div class="experience-title">Software Developer</div>
            {% endif %}
          <div class="company-description">
          	<p>{{resume.present_work}}</p>  <!-- JOB DESCRIPTION  -->
          </div>
        </div>
        
        <div class="company-wrapper clearfix">
            <div class="experience-title">{{resume.previous_company}}</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">{{previous}}</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
          </div>
          <div class="job-wrapper clearfix">
            {% if resume.previous_role == 'FR' %}
            <div class="experience-title">Full Stack Developer</div>
            {% endif %}
            {% if resume.previous_role == 'SO' %}
            <div class="experience-title">Android Developer</div>
               {% endif %}
            {% if resume.previous_role == 'JR' %}
            <div class="experience-title">IOS Developer</div>
            {% endif %}
            {% if resume.previous_role == 'SR' %}
            <div class="experience-title">Frontend Developer</div>
            {% endif %}
            {% if resume.previous_role == 'GR' %}
               <div class="experience-title">Data Scientist</div>
            {% endif %}
            {% if resume.previous_role == 'SW' %}
            <div class="experience-title">Software Developer</div>
            {% endif %}
               <!-- NAME OF THE COMPANY YOUWORK WITH  -->
               <div class="company-description">
                <p>{{resume.previous_work}}</p>  <!-- JOB DESCRIPTION  -->
            </div>
          </div>    
        
        <div class="company-wrapper clearfix">
      		<div class="experience-title">{{resume.highest_qualification}}</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">{{resume.graduation_year}}</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div> 
        
         <div class="job-wrapper clearfix">
        	<div class="experience-title">{{resume.institute_name}} </div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>{{resume.graduation_achievements}}</p>   <!-- JOB DESCRIPTION  -->
          </div>
        </div>
        
      </div><!--Skill experience-->
      
      <div class="section-wrapper clearfix">
      	<h3 class="section-title">Skills</h3>  <!-- YOUR SET OF SKILLS  -->
        	<ul>
                {% for j in skills %}
        		<li class="skill-percentage">{{j}}</li>
               {% endfor %}
        	</ul>
        
      </div>
      
      <div class="section-wrapper clearfix">
        <h3 class="section-title">Hobbies</h3>  <!-- DESCRIPTION OF YOUR HOBBIES -->
        <p>{{resume.hobies}}</p>
        
      </div>
      
  	</div>
  </section>
  
  <div class="clearfix"></div>
</div>
</body>
</html>