<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/users/register.css">
<body>
    <div class="registration-form">
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <div class="form-group">
                <p>Username</p>
                {{form.username}}
            </div>
            <div class="form-group">
                <p>Email</p>
                {{form.email}}
            </div>
            <div class="form-group">
               <p>Password</p>
                {{form.password1}}
            </div>
            <div class="form-group">
                <p>Confirm password</p>
                {{form.password2}}
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Create Account</button>
            </div>
            <h4>or</h4>
        
            <button type="submit" class="btn btn-block create-account"><a href="{% url 'login' %}">Sign in</a></button>
           
        </form>
        
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="/static/users/register.js"></script>
</body>
</html>








